body {
  /* background-image: url(blob.svg); */
  /* background: linear-gradient(to right,
    #232526, #414345); */
    background: linear-gradient(to right,
    #141E30,
    #243B55);
  /* background-size: absolute; */
}

#dsaNav{
  background: linear-gradient(to right, #f32170,#ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  
}

#inputdata{
  background: linear-gradient(90deg, #f32170, 
  #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(255, 247, 232);
}
#saveQuesBtn{
  background: linear-gradient(90deg, #f32170, 
  #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  align-content: center;
  justify-content: center;
}
#textExample{
  background: linear-gradient(90deg, #f32170,#ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.form-control{
  background: linear-gradient(to right,
    #bedede, #3a5470);
    -webkit-text-fill-color: black;
    /* background: rgb(136, 136, 138); */
  /* -webkit-text-fill-color: transparent; */
  background-clip: text;
  /* -webkit-background-clip: text; */
}

#saveBtn{
  background: linear-gradient(to right,
    #232526, #414345);
}

.upperCol{
  background: linear-gradient(90deg, #f32170,#ff6b08,
   #cf23cf, #eedd44);
  /* -webkit-text-fill-color: transparent; */
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
}

.navbar{
  background: linear-gradient(
  #232526, #414345); 
  display: flex;
}
.editSec{
  background: #232526;
  -webkit-text-fill-color: rgb(201, 24, 24);
  background-image: url(blob.svg);
}

.home{
  background-image: url(home1.png);
  background-size: cover;
  width: 3rem;
  height: 3rem;
  align-items: start;
}
