body {
  /* background-image: url(blob.svg); */
  background: linear-gradient(to right,
    #232526, #24272b);
    
  /* background-size: absolute; */
}

#dsaNav{
  background: linear-gradient(#c7d1e5,
  #ebedef);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  
}

#inputdata{
  background: linear-gradient(90deg, #f32170, 
  #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(255, 247, 232);
}
#saveQuesBtn{
  background: linear-gradient(90deg, #12e844, 
  #1fd83e, #04ea58);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  align-content: center;
  justify-content: center;
}
#textExample{
  background: linear-gradient(90deg, #f32170,#ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}



#saveBtn{
  background: linear-gradient(to right,
    #232526, #414345);
}

.upperCol{
  background: linear-gradient(90deg, #f32170,#ff6b08,
   #cf23cf, #eedd44);
  /* -webkit-text-fill-color: transparent; */
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
}

.navbar{
  background: linear-gradient(
  #232526, #414345); 
  display: flex;
}
.editSec{
  background: #232526;
  background-repeat: no-repeat;
  -webkit-text-fill-color: rgb(201, 24, 24);
  background-image: url(blob.svg);
}

.home{
  background-image: url(home1.png);
  background-size: cover;
  width: 3rem;
  height: 3rem;
  align-items: start;
}
