<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>DSA Questions Data</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand " href="/">DSA QUESTIONS</a>

       <form action="search" id="data">
        <input type="search"
        name="qtitle"
        placeholder="Search"
        id="inputdata">

        <input type="submit"
        value="search">

       </form>
      </div>
    </nav>
  </body>
</html>
